*{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.App {
  margin-top: 40px; 
}

.container {
  width: 500px;
  margin: auto;
  border: 1px solid rgb(184, 176, 176);
  border-radius: 10px;
}

.cartItem {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  align-items: center;
  border-bottom: 1px solid rgb(220, 213, 213);
  margin-bottom: 10px;
  padding: 5px;
}

.heading h3{
  padding: 5px;
  background-color: ghostwhite;
  margin-top: 10px;
  border-radius: 10px;
}


.qty {
  padding: 10px 10px 0px 10px;
  align-items: center;
}

.quntity {
  display: flex;
  align-items: center;
}

.total {
  padding: 5px;
  margin-bottom: 10px;
  background-color: ghostwhite;
  border-radius: 10px;
}

.label {
  color: rgb(86,86,171);
  font-weight: bold;
}

.priceLabel {
  line-height: 15px;
}